.badge {
  padding: 2px 12px;
  border-radius: 4px;
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;

  &.badge-pill {
    border-radius: 12px;
  }

  &,
  &.gray {
    background-color: var(--grey-color);
    color: var(--grey-dark-color);
  }

  &.red {
    background-color: var(--red-light-color);
    color: var(--red-dark-color);
  }

  &.yellow {
    background-color: var(--yellow-light-color);
    color: var(--yellow-dark-color);
  }

  &.green {
    background-color: var(--green-light-color);
    color: var(--green-dark-color);
  }

  &.blue {
    background-color: var(--blue-light-color);
    color: var(--blue-dark-color);
  }

  &.indigo {
    background-color: var(--indigo-light-color);
    color: var(--indigo-dark-color);
  }

  &.purple {
    background-color: var(--purple-light-color);
    color: var(--purple-dark-color);
  }

  &.pink {
    background-color: var(--pink-light-color);
    color: var(--pink-dark-color);
  }
}