.card {
  position: relative;
  background-color: var(--grey-light-color);
  padding: 1rem;
  border-radius: 4px;
  margin: 5px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  transition: all 0.3s;
  position: relative;

  &:hover {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

}

.icon {
  background: black;
  position: absolute;
  /*absolute center*/
  top: -1.35rem;
  left: 50%;
  transform: translateX(-50%);
}