#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding: .5rem;
  background-color: var(--grey-dark-color);
  border-radius: .375rem;

  &.gray {
    background-color: var(--grey-dark-color);
  }

  &.red {
    background-color: var(--red-dark-color);
  }

  &.yellow {
    background-color: var(--yellow-dark-color);
  }

  &.green {
    background-color: var(--green-dark-color);
  }

  &.blue {
    background-color: var(--blue-dark-color);
  }

  &.indigo {
    background-color: var(--indigo-dark-color);
  }

  &.purple {
    background-color: var(--purple-dark-color);
  }

  &.pink {
    background-color: var(--pink-dark-color);
  }
}